
@{
    ViewBag.Title = "Dashboard";
}
<head>
    <meta name="viewport" content="width=device-width,initial-scaled=1.0" />
    <meta charset="utf-8" />
    <title>Responsiive Admin Dashboard | CodingLab</title>
    <link rel="stylesheet" href="style.css" />

    <script src="~/Content/Pages/jquery-1.11.1.min.js"></script>
    <script src="~/Content/Pages/Pavati.js"></script>

   <!--BoxIcons CDN Link -->
    <link href="http://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class="btn-group-xs bxl-c-plus-plus"></i>
            <span class="logo-name">CodingLab</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <box-icon name='grid-alt' type='solid'></box-icon>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Product</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <box-icon name='list-ul'></box-icon>
                    <span class="link_name">Order List</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="link_name">Analytics</span>
                </a>
            </li>
        </ul>
    </div>
<div class="col-sm-2">

</div>

<div class="col-sm-6">
 <p>
        <input id="Submit1" type="submit" value="दिनांक" name="btnSubmit" style="width: 200px; height: 100px; font-size: x-large; background: #f7eeb5; margin: 0px 10px 0px 34.6563px; border-radius: 20px; box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255,255,255,0.3);"onclick="savePavati"/>
 </p>

 <p>
        <input id="Submit1" type="submit" value="नाव" name="btnSubmit" style="width: 200px; height: 100px; font-size: x-large; background: #f7eeb5; margin: 0px 10px 0px 34.6563px; border-radius: 20px; box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255,255,255,0.3);"onclick="savePavati" />
 </p>

</div>
<div class="col-sm-4">
 <p>
        <input id="Submit1" type="submit" value="देणगी" name="btnSubmit" style="width: 200px; height: 100px; font-size: x-large; background:#f7eeb5; margin: 0px 10px 0px -200px; border-radius: 20px; box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255,255,255,0.3);"onclick="savePavati" />
</p>
<p>
        <input id="Submit1" type="submit" value="दाता" name="btnSubmit" style="width: 200px; height: 100px; font-size: x-large; background: #f7eeb5; margin: 0px 10px 0px -200px; border-radius: 10px; box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255,255,255,0.3); "onclick="savePavati"/>
 </p>
    <p>
        <input id="Submit1" type="submit" value="Back" name="btnSubmit" style="width: 90px; height: 30px; background:#cce1f5; border-block-color:blue;  "onclick="savePavati" />
    </p>
</div>







