
@{
    ViewBag.Title = "Index";
}
<script src="~/Content/Pages/jquery-1.11.1.min.js"></script>
<script src="~/Content/Pages/Pavati1.js"></script>
<h2>Index</h2>


<label id="lblid"></label>

<input id="txtdate" type="text" class="form-control" />
<input id="txtname" type="text" class="form-control" />
<input id="txtmobileno" type="text" class="form-control" />
<input id="txtpaymentinword" type="text" class="form-control" />
<input id="txtpaymentinno" type="text" class="form-control" />

    <table id="Tbl_Pavati" border="1">
        <thead>
        <th>Id</th>
        <th>Date</th>
        <th>Name</th>
        <th>Mobileno</th>
        <th>PaymentInWord</th>
        <th>PaymentInNo</th>
        </thead>
        <tbody></tbody>
    </table>

